<body class="bg">
<center>
<% if flash[:error]%>
  <span style="color: red"><%= flash[:error] %></span>
  <% end %>
    <div class="card border-light text-black bg-transparent mb-3" style="width: 500px">
        <div class="card-body">
            <center>
                <p id=”notice”><%= notice %></p>
                <h1>Welcome to Jogger</h1>
                <p>An online journal</p>
                <br>
                <%= link_to "Sign Up", new_user_path, class: "btn btn-sm              btn-outline-primary" %>
                <br></br>
                <%= link_to "Log in", login_path, class: "btn btn-sm btn-outline-primary"%>
            </center>    
        </div>   
    </div>
<center>
</body>