<div class="container">
<h1>Featured Jogs</h1>
    <div class="row">
            <% @posts.each do |post| %>
                <div class="col-xs-6 col-sm-4">
                    <strong><%= link_to post.title, post_path(post) %></strong><br>
                    "<%= post.body[0...15] %>..."<br>
                    <small><%= post.user.user_name %></small>
                </div>
            <% end %>
    </div>
</div>